root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
max_line_length = 100

[*.md]
trim_trailing_whitespace = false
max_line_length = off

[*.{yml,yaml,json,jsonc}]
indent_size = 2

[*.{ts,tsx,js,jsx,mjs,cjs,vue,svelte}]
indent_size = 2

[*.{rs,go,c,h,cpp,cc,hpp,cs,java,kt,swift,dart}]
indent_style = space
indent_size = 4

[*.py]
indent_size = 4
max_line_length = 100

[*.sql]
indent_size = 2

[*.{bat,cmd}]
end_of_line = crlf

[*.{ps1,psm1}]
indent_size = 4

[Makefile]
indent_style = tab
